

.App{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
}
wraper-out{
    position: relative;
}
.log-box{
    position: absolute;
    top: 15vh;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}